* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: antiquewhite;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header" "navigation navigation navigation" "contenido contenido publicidad" "footer footer footer";
    grid-template-columns: auto auto 15%;
    grid-template-rows: 10% 10% auto 10%;
    overflow: scroll;
}

.header {
    grid-area: header;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: rgb(19, 19, 125);
    background-color: rgb(214, 167, 48);
}

.titulo {
    margin-left: 20px;
}

h1 {
    font-size: 35px;
    font-weight: 15px;
}

header h2 {
    font-size: 35px;
    font-weight: 15px;
}

.nav {
    grid-area: navigation;
    background-color: rgb(214, 167, 48);
    margin-top: 5px;
    height: 40px;
}

.nav ul {
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
}

.nav ul li {
    text-align: center;
    display: inline-block;
    width: 80px;
    margin: 10px 20px 20px 20px;
    border-radius: 25px;
}

.letraNav {
    text-decoration: none;
    color: rgb(19, 19, 125);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.letraNav:hover {
    color: rgb(219, 227, 247);
}

.boxSection {
    grid-area: contenido;
}

.aside {
    grid-area: publicidad;
    background-color: rgb(195, 180, 160);
    border: 1px solid black;
    height: 250px;
    margin-top: auto;
    margin-bottom: auto;
}

.centre {
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: rgb(214, 167, 48);
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}

.footer ul li i {
    font-size: 25px;
    color: blue;
}

.footer ul li i:hover {
    color: aliceblue;
}

.footer ul li i:visited {
    color: blue;
}

.productsTitle {
    text-align: center;
}

.products-container {
    display: grid;
    grid-template-areas: "imagen imagen imagen" "imagen imagen imagen" "imagen imagen imagen";
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    column-gap: 20px;
    row-gap: 100px;
    justify-content: space-evenly;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 15px;
}

.products-container .imagenProducto {
    border: solid 1px black;
    border-radius: 15px;
    padding: 5px;
    justify-self: center;
    align-self: center;
}

.products-container .imagenProducto:hover {
    box-shadow: 5px 5px 20px rgb(171, 171, 238);
    transform: translate(-3%);
}

.imagenProducto {
    grid-area: imagen;
    height: 120px;
    width: 115px;
    padding: 10px;
}

.oferta {
    margin-bottom: 0px;
    background-color: orangered;
    color: aliceblue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.imgPapelera {
    height: 500px;
    width: 500px;
}

.papeleraContainer {
    text-align: center;
    margin-top: 20px;
}

#boxIndex {
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexIndex {
    padding: 20px;
}

#articleIndex {
    height: 100vh;
    font-size: 2.5rem;
}

#boxContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#h2Contacto {
    font-size: 2rem;
    margin-bottom: 15px;
}

.flexContacto {
    width: 50vw;
}

.inputsContacto {
    display: block;
    margin-bottom: 10px;
    height: 2rem;
    width: 300px;
    margin-top: 20px;
    border: solid 2px rgb(168, 93, 39);
}

#iconContacto ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
}

#iconContacto ul li i {
    color: black;
    font-size: 30px;
}

#iconContacto ul li i:hover {
    color: rgb(162, 178, 193);
}

#iconContacto ul li i:visited {
    color: black;
}

#inputMensaje {
    height: 5rem;
    width: 350px;
}

input::placeholder {
    padding-left: 5px;
}

#envioGIF {
    margin-top: 30px;
}

/*# sourceMappingURL=styles.css.map */