@import "colores";
@import "bordes";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    position: relative;
    background-color: $bgColorBody;
}
.grid-container{
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "navigation navigation navigation"
    "contenido contenido publicidad"
    "footer footer footer";
    grid-template-columns: auto auto 15%;
    grid-template-rows: 10% 10% auto 10%;
    overflow: scroll;
}


.header{
    grid-area: header;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $colorEstructura;
    background-color:$bgColorEstructura;
    
}

.titulo{
    margin-left: 20px;
}

h1{
    font-size: 35px;
    font-weight: 15px;
}

header{
    h2{
    font-size: 35px;
    font-weight: 15px;
    }
}

.nav{
    grid-area: navigation;
    background-color: $bgColorEstructura;
    margin-top: 5px;
    height: 40px;
    ul{
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    li {
        text-align: center;
        display: inline-block;
        width: 80px;
        margin: 10px 20px 20px 20px;
        border-radius: 25px;
            }
        }
}

.letraNav{
    text-decoration: none;
    color:$colorEstructura;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.letraNav:hover{
    color: rgb(219, 227, 247);
}


.boxSection{
    grid-area: contenido;
    
}

.aside{
    grid-area: publicidad;
    display: flex;
    background-color: $bgColorEstructura;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin-left: 40px;
    margin-top: auto;
    margin-bottom: auto;
    border: solid 1px rgb(77, 9, 173);
    border-radius: 30px;
    img{
        height: 120px;
        width: 120px;
        justify-content: center;
        align-self: center;
        border:1px solid black;
        border-radius: 40%;
        transition: transform 1s linear;
        position: absolute;
    }
}

aside:hover img{
    transform: translateY(50px);
    opacity: 1;
}

.iconAside{
    justify-self: center;
    align-self: center;
    margin-bottom: 20px;
    font-size: 25px;
    color: $colorIcons;
}

aside:hover .iconAside{
    color: aliceblue;
}

.nroWSP{
    align-self: center;
    margin-bottom: 120px;
    list-style: none;
    font-size: 1rem;
    font-weight: 630;
}

.nroWSPcontacto{
align-self: flex-start;
font-size: 0.9rem;
}

.centre{
    text-align: center;
}

.footer{
    grid-area: footer;
    background-color:$bgColorEstructura;
    position: absolute;
    bottom: 0;
    width: 100vw; 
    ul{ 
        li{
    list-style: none;
    display: inline-block;
    margin: 10px 10px;
            i{
                font-size: 25px;
                color: $colorIcons;
            }
        }
    }
}

.footer ul li i:hover{
    color: aliceblue;
}

.footer ul li i:visited{
    color: blue;
}

.wspResponsive{
    display: none;
}


.productsTitle{
text-align: center;
}

.products-container{
    display: grid;
    grid-template-areas: 
    "imagen imagen imagen"
    "imagen imagen imagen"
    "imagen imagen imagen";
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    column-gap: 10px;
    row-gap: 100px;
    justify-content: space-evenly;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 15px;
}

.products-container .imagenProducto{
    @include bordeSolido;
    padding: 5px;
    justify-self: center;
    align-self: center;

}

.products-container .imagenProducto:hover{
    box-shadow: 5px 5px 20px rgb(191, 191, 250);
    transform: translate(-3%);
}


.imagenProducto{
    grid-area: imagen;
    height: 190px;
    width: 190px;
    padding: 10px;
}



.oferta{
    margin-bottom:0px;
    background-color: $bgColorOferta;
    color: aliceblue;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
}


.imgPapelera{
    height: 450px;
    width: 450px;
}

.papeleraContainer{
    text-align: center;
    margin-top: 20px;
}


#boxIndex{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flexIndex{
    
    padding: 20px;
    
}

#articleIndex{
    height: 80vh;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

#fotoContacto{
    height: 300px;
    margin-left: 30px;
}

#boxEnvios{
    display: flex;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    

}

#flexEnvios{
    margin-top: 40px;
    
}

#titleEnvios{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 15px;
}

#maps{
    margin-top: 10px;
}

#formEnvios{
    margin-top: 100px;
    font-size: 20px;
    width: 400px;
    height: 400px;
    padding: 20px;
    @include bordeSolido;
}

.labelEnvios{
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.inputEnvios{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}

.botonEnviar{
    background-color: rgb(249, 156, 122);
    width: 100px;
    height: 25px;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 10px;

}

.botonEnviar:hover{
background-color: aliceblue;
color: rgb(249, 156, 122);
}

#formEnvios:hover{
        box-shadow: 5px 5px 20px rgb(191, 191, 250);
        transform: translate(3%);
}